@charset "UTF-8";

* {
    color: white;
    margin: 0;
    padding: 0;
}


body {
    /*
    shorthand font
    font style > font weight > font size > font family

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    */
    font: italic bolder 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 80px;
    background-color: rgba(170, 170, 170, 0.137);
    padding: 10px;
}

.topo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.barra-pesquisa {
    background-color: white;
    color: black;
    height: 50px;
    max-width: 90%;
    font-size: 40px;
    border: none;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

.barra-pesquisa:hover {
    background-color: rgb(214, 211, 211);
}

.barra-pesquisa:focus {
    background-color: gray;
    outline-style: none;
    color: white;
    
}

.botao-pesquisa {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: none;
    color: black;
}

.botao-pesquisa:hover {
    background-color: rgb(92, 91, 90);
    color: white;

}

p {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
    padding: 5px 5px 5px 0px;
    margin-top: 10px;
}

.link-search {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.link-search:hover {
    color: black;
}

.compartimento-filmes {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: center;

}

.container-filmes {
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 800px;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}

.final {
    display: block;
    margin: auto;
    text-align: center;
}

.footer-link:hover {
    color: black;
}