@charset "UTF-8";

* {
    color: white;
    margin: 0;
    padding: 0;
}

html, body {
    font: italic bolder 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 1 0;
}

header {
    background-color: rgba(109, 107, 107, 0.24);
    backdrop-filter: saturate(180%) blur(5px);
    position: fixed;
    width: 100%;
    height: 150px;
}

.titulo {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 80px;
    padding: 10px;
    background: -webkit-linear-gradient(yellow, rgb(70, 70, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lista-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu li {
    list-style-type: none;
    font-size: 1.3rem;
}

.link-titulo {
    margin: 30px;
    text-decoration: none;
    padding: 2px;       
}

.link-titulo:hover {
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 5px;
}

.barra-pesquisa {
    background-color: white;
    color: black;
    height: 50px;
    max-width: 90%;
    font-size: 2rem;
    border: none;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    margin-top: 200px;
}

.barra-pesquisa:hover {
    background-color: rgb(214, 211, 211);
}

.barra-pesquisa:focus {
    background-color: gray;
    outline-style: none;
    color: white;
    
}

.botao-pesquisa {
    display: block;
    margin: auto ;
    margin: 50px 0px;
    font-size: 1.7rem;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: none;
    color: black;
}

.botao-pesquisa:hover {
    background-color: rgb(92, 91, 90);
    color: white;
}

.link-search {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.link-search:hover {
    color: black;
}

.compartimento-filmes {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.container-filmes {
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 800px;
    width: 200px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}

.p-filmes-conteudo {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
    padding: 5px 5px 5px 0px;
    margin-top: 10px;
}

.final {
    display: block;
    margin: auto;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.5);
    font-size: 1.2rem;
    padding: 15px;
}

.footer-link:hover {
    color: black;
}

.final p {
    padding-bottom: 5px;
}



@media (max-width: 490px) {
    .titulo {
        font-size: 3rem;
    }

    .barra-pesquisa {
        margin-top: 100px;
        width: 85%;
        height: 50px;
        font-size: 1.7rem;
    }

    .botao-pesquisa {
        width: 170px;
        height: 40px;
        font-size: 1.5rem;
    }
}